/* header */
.dropdown {
    display: none;
}
.navbar {
    background-color: transparent !important;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
}
/* header */
/* herosection */
.herosection {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 20px;
}
.hero-right-div {
    margin-left: 50px;
    margin-top: 100px;
}
.hero-div {
    width: 50%;
}
.hero-div > img {
    width: 100%;
}
.location-p {
    font-size: 12px;
}
.search-container {
    width: 800px;
    margin: 10px auto;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 10px;
}
.search-btn {
    width: 150px;
    height: 40px;
}
/* herosection */
.heading-button {
    background-color: #1572D31A;
    color: #1572D3;
    border: none;
    border-radius: 10px;
}
.how-it-work {
    margin-top: 50px;
}
.how-it-work-img-div {
    width: 50%;
    margin: 10px auto;
}
.how-it-work-text-div {
    width: 55%;
    margin: 10px auto;
}
.brands-container {
    margin-top: 50px;
}
.why-choose-us-container {
    margin-top: 50px;
}
.price-div {
    flex-wrap: wrap;
}