.primary-color {
    color: #1572D3 !important;
}
.secondary-color {
    color: #333333 !important;
}
.third-color {
    color: #B6B6B6 !important;
}
.custom-btn {
    background-color: #1572D3 !important;
    color: white !important;
    border: 2px solid #1572D3 !important;
    border-radius: 10px !important;
}
.custom-btn-secondary {
    background-color: transparent !important;
    color: #484848 !important;
    border: 2px solid transparent;
    border-radius: 10px;
}
